input.error {
  border: 1px solid #e7195a;
}

label {
  text-align: left;
}

form {
  padding-right: 50px;
}

#submitbutton {
  padding-top: 20px;
}

label {
  padding-top: 20px;
}

.form-group {
  padding-left: 25px;
}
