#h1 {
    color: white;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-size: 2rem;
    background-color: #e83126;
    padding: 40px;
    margin: 0;
  }

  /* Small devices (landscape phones, 544px and up) */
@media (min-width: 576px) {
  #h1 {
    font-size: 2.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #h1 {
    font-size: 3rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #h1 {
    font-size: 3.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #h1 {
    font-size: 4rem;
  }
}

/* Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  #h1 {
    font-size: 4.5rem;
  }
}

.container-fluid {
  padding: 0;
  margin: 0;
}